h5, small, p {
  color: rgb(33,37,41);
}

i{
  color: yellow;
}

div.md-chip {
  display: inline-block;
  background: #e0e0e0;
  padding: 0 12px;
  border-radius: 32px;
  font-size: 13px;
  width: auto!important;
  min-width: 0;
}

button.md-chip {
  display: inline-block;
  background: #e0e0e0;
  padding: 0 12px;
  border-radius: 32px;
  font-size: 13px;
  width: auto!important;
  min-width: 0;
  color: black;
}


.md-chip-green {
  background: #4CAF50!important;
}

.md-chip-blue {
  background: #9FA8DA!important;
}

.md-chip-red {
  background: #E57373!important;
}

.msg {
  margin: 10px;
  border-radius: 15px;
}

.msg-body {
  padding:1.1em;
  color:rgb(36, 39, 41);
  margin: 5px 0 10px 0;
}

.msg.msg-right > .msg-body {
	text-align: right;
}

.msg.msg-left {
	background-color: rgba(220,220,220)!important;
	float: left;
	clear: both;

}

.msg.msg-right {
	background-color: #dcf8c6!important;
	float: right;
	clear: both;

}

.form-group.msg-body {
	margin-left: 1.25rem;
	margin-bottom: 1rem;
	/*width: 98.5%;*/
}

ul.msg-list{
  height: 70vh;
	overflow: hidden;
	overflow-y:  scroll;
  list-style-type: none;
  margin-bottom: 0px!important;
}

#message {
  width: 85%;
  margin: 0px 0px 0px 0px;
}

img.small-img {
	width: 400px;
	height: 300px;
}
