<presentation [theme]="'light'">

  <slide>
    <div id="logos">
      <img src="./assets/img/Logo-BIZimagine.png" width="300px">
      <img src="./assets/img/futureconnections_logo.png" width="350px">
    </div>
    <h1>Presentación dual</h1>
    <h4>Mi experiencia con la formación dual</h4>
    <p style="text-align:center">Lucía Blanco Salgado</p>
  </slide>

  <slide>
    <h1>Nachophone</h1>
  </slide>

  <slide>
    <h2>CRUD en Java</h2>
    <ul>
      <li>Login con vista de usuario y administrador</li>
      <li>Control de consumo</li>
      <li>Alta, baja y modificación de usuarios</li>
    </ul>
  </slide>

  <slide>
    <video width="800" height="615" controls>
      <source src="https://firebasestorage.googleapis.com/v0/b/p1daw-2ea45.appspot.com/o/nachoPhoneVideo.mov?alt=media&token=7a66df75-62c1-4cea-9799-34a2c7094a26" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </slide>

  <slide>
    <a href="https://naisu-6fa2c.firebaseapp.com/#/home" target="_blank"><h1>Naisu</h1></a>
  </slide>

  <slide>
    <h1>Reddie Home</h1>
  </slide>

  <slide>
    <video width="800" height="615" controls>
      <source src="https://firebasestorage.googleapis.com/v0/b/p1daw-2ea45.appspot.com/o/reddie.mp4?alt=media&token=343d4916-d33b-4376-b483-b9d9fde66158" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </slide>

  <slide>
    <h1>Feedback</h1>
  </slide>

  <slide>
    <h2>To Do</h2>
    <ul>
      <li>Recoger información de feedback (solo rooms cerradas y con feedback)</li>
      <li>Mostrar la información ordenada cronológicamente</li>
      <li>Media de estrellas</li>
      <li>Filtro por diferentes categorías (actualizando la media)</li>
    </ul>
  </slide>

  <slide>
    <code>feedback.component.ts</code>
    <source-code [code]="avgStarsCode" [language]="'typescript'"></source-code>
  </slide>

  <slide>
    <video width="800" height="615" controls>
      <source src="https://firebasestorage.googleapis.com/v0/b/p1daw-2ea45.appspot.com/o/feedback1.mp4?alt=media&token=79e717d4-bf8d-475e-8e82-b5f18a22996e" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </slide>

  <slide>
    <code>feedback.component.ts</code>
    <source-code [code]="avgStarsCode2" [language]="'typescript'"></source-code>
  </slide>

  <slide>
    <code>feedback.component.ts</code>
    <source-code [code]="avgStarsCode3" [language]="'typescript'"></source-code>
  </slide>

  <slide>
    <code>feedback.component.ts</code>
    <source-code [code]="avgStarsCode4" [language]="'typescript'"></source-code>
  </slide>

  <slide>
    <video width="800" height="615" controls>
      <source src="https://firebasestorage.googleapis.com/v0/b/p1daw-2ea45.appspot.com/o/feedback2.mp4?alt=media&token=dcdb9b94-255d-43c5-b8b9-75c4605d33ea" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </slide>

  <slide>
    <h1>First question on top chat</h1>
  </slide>

  <slide>
    <h2>To Do</h2>
    <ul>
      <li>Recoger último mensaje de la conversación y mostrarlo en la lista</li>
      <li>Pantalla dividida (primer intento al menos)</li>
      <li>Mensajes más pequeños</li>
      <li>Modal para las fotos</li>
    </ul>
  </slide>

  <slide>
    <code>app.component.ts</code>
    <source-code [code]="fqotc1" [language]="'typescript'"></source-code>
  </slide>

  <slide>
    <code>app.component.html</code>
    <source-code [code]="fqotc2" [language]="'html'"></source-code>
  </slide>

  <slide>
    <video width="800" height="615" controls>
      <source src="https://firebasestorage.googleapis.com/v0/b/p1daw-2ea45.appspot.com/o/fqotc.mp4?alt=media&token=de5cd4be-b6c9-4731-8d73-0a12a7f46265" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </slide>

  <slide>
    <code>index.html</code>
    <source-code [code]="modal1" [language]="'javascript'"></source-code>
  </slide>

  <slide>
    <code>app.component.html</code>
    <source-code [code]="modal2" [language]="'html'"></source-code>
  </slide>

  <slide>
    <video width="800" height="615" controls>
      <source src="https://firebasestorage.googleapis.com/v0/b/p1daw-2ea45.appspot.com/o/fqotc_modal.mp4?alt=media&token=57ca2f98-1de7-40dd-8898-300b8312c87e" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </slide>

  <slide>
    <h1>Diseño responsive</h1>
  </slide>

  <slide>
    <h2>To Do</h2>
    <ul>
      <li>Adaptarlo a la pantallas grandes</li>
      <li>Más espacio en la lista de mensajes para que se vea más información</li>
      <li>Aprovechar todo el espacio de la pantalla</li>
    </ul>
  </slide>

  <slide>
    <video width="800" height="615" controls>
      <source src="https://firebasestorage.googleapis.com/v0/b/p1daw-2ea45.appspot.com/o/style1.mp4?alt=media&token=5ddda3e2-cfc2-4624-86c2-e2a7a9c0c442" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </slide>

  <slide>
    <video width="800" height="615" controls>
      <source src="https://firebasestorage.googleapis.com/v0/b/p1daw-2ea45.appspot.com/o/style2.mp4?alt=media&token=99dc3b77-062e-4f24-9da4-7d31a1d2ce5c" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </slide>

  <slide>
    <h1>Tecnologías utilizadas</h1>
  </slide>

  <slide>
    <h2>Visual Studio Code</h2>
    <img src="./assets/img/vs-code-logo.jpg" width="300">
  </slide>

  <slide>
    <h2>Git</h2>
    <img src="./assets/img/git.png" width="300">
  </slide>

  <slide>
    <h2>Firebase</h2>
    <img src="./assets/img/firebase.png" width="300">
  </slide>

  <slide>
    <h2>Jira</h2>
    <img src="./assets/img/jira.png" width="300">
  </slide>

  <slide>
    <h2></h2>
  </slide>

</presentation>

