<presentation [theme]="'light'">

  <slide>
    <div id="logos">
      <img src="./assets/img/Logo-BIZimagine.png" width="300px">
      <img src="./assets/img/futureconnections_logo.png" width="350px">
    </div>
    <h1>Presentación dual</h1>
    <h4>Mi experiencia con la formación dual</h4>
    <p style="text-align:center">Lucía Blanco Salgado</p>
  </slide>

  <slide>
    <h1>Feedback</h1>
  </slide>

  <slide>
    <code>feedback.component.ts</code>
    <source-code [code]="avgStarsCode" [language]="'typescript'"></source-code>
  </slide>
  <slide>
    <code>feedback.component.ts</code>
    <source-code [code]="avgStarsCode2" [language]="'typescript'"></source-code>
  </slide>

  <slide>
    <code>feedback.component.ts</code>
    <source-code [code]="avgStarsCode3" [language]="'typescript'"></source-code>
  </slide>

  <slide>
    <code>feedback.component.ts</code>
    <source-code [code]="avgStarsCode4" [language]="'typescript'"></source-code>
  </slide>

  <slide>
    <h1>First question on top chat</h1>
  </slide>

  <slide>

  </slide>

  <slide>

  </slide>

  <slide>

  </slide>

  <slide>

  </slide>

  <slide>

  </slide>

  <slide>

  </slide>

  <slide>

  </slide>

  <slide>

  </slide>

  <slide>

  </slide>

  <slide>
    <h1>Build presentation</h1>
    <source-code [code]="'ng build --prod --base-href ./'"></source-code>
    Your presentation will be in <b>dist</b> folder. You can launch it by double-clicking on <b>index.html</b>
  </slide>

  <slide>
    <h1>Thanks!</h1>
  </slide>

</presentation>


<!--

  You can choose presentation theme:
  - light
  - dark

  More themes soon. You are welcome to colaborate.

  IMPORTANT: Notice the simple quotes for strings.
  For example:
    [theme]="'dark'" IS CORRECT
    [theme]="dark" IS INCORRECT

  -->
